{% extends "base.html" %}

{% block content %}

    <div class="container">
        <h1>S'inscrire</h1>
        <form action="" method="POST">
            {% csrf_token %}
            <p>
                <label for="username">Nom d'utilisateur</label>
                <input type="text" name="username" id="username" class="form-control" style="width: 400px">
            </p>
            <p>
                <label for="email">Email</label>
                <input type="email" name="email" id="email" class="form-control" style="width: 400px">
            </p>
            <p>
                <label for="password">Mot de passe</label>
                <input type="password" name="password" id="password" class="form-control" style="width: 400px">
            </p>
            <p>
                <label for="password_confirmation">Confirmation du mot de passe</label>
                <input type="password" name="password_confirmation" id="password_confirmation" class="form-control" style="width: 400px">
            </p>
            <div class="d-flex justify-content-start">
                <button type="submit" class="btn btn-success me-3">S'inscrire</button>
                <a href="{% url 'login' %}" class="btn btn-primary">Connexion</a>
            </div>
        </form>
    </div>

{% endblock content %}