{% include 'blog/partials/list_article_haut.html' %}
{% include 'blog/partials/navbar.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h1 class="mt-4" align="center">Ajouter un nouvel article</h1>
    <div class="row">
        <div class="d-flex justify-content-center col-xl-12 col-md-6 col-sm-8">
        <form method="POST" class="mt-4" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">
                Ajouter l'article
            </button>
        </form>
    </div>
</div>
{% endblock %}

{% include 'blog/partials/list_article_bas.html' %}