{% include 'blog/partials/detail_article_haut.html' %}
{% include 'blog/partials/navbar.html' %}
{% load static %}

    {% block content %}

        <!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">{{ article.titre }}</h1>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">
                                Créer le {{ article.created_at|date }}
                                par
                                <span class="text-primary text-capitalize fw-bold">
                                    {{ article.auteur }}
                                </span>
                            </div>
                            <!-- Post categories-->
                            <a class="badge bg-success text-decoration-none link-light" href="#!">{{ article.categorie.nom }}</a>
                            <div class="float-end">
                                <a href="{% url 'list_article' %}" class="btn btn-sm btn-primary">Retour à la liste des articles</a>
                                <a href="{% url 'modifier_article' article.id %}" class="btn btn-sm btn-warning">Modifier l'article</a>
                            </div>
                        </header>
                        <!-- Preview image figure-->
                        <figure class="mb-4">
                            {% if article.image %}
                                <img src="{% static article.image %}" class="img-fluid rounded" width="100%" height="650" alt="{{ article.titre }}">
                            {% else %}
                                <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="{{ article.titre }}">
                            {% endif %}
                        </figure>
                        <!-- Post content-->
                        <section class="mb-5">
                            <p class="card-text fs-5 mb-4">
                                {{ article.contenu|safe }}
                            </p>
                            <p>
                                <b>Tags:</b>
                                {% if article.tags.exists %}
                                    {% for tag in article.tags.all %}
                                        <span class="badge bg-secondary text-capitalize p-2" style="font-size:0.9em;">{{ tag }}</span>
                                    {% endfor %}
                                {% endif %}
                            </p>
                        </section>
                    </article>
                    <!-- Comments section-->
                    <section class="mb-5">
                        <div class="card bg-light">
                            <h2 align="center" class="mt-2">
                                {% with comments.count as total_comments %}
                                    {{ total_comments }} Commentaire{{ total_comments|pluralize }}
                                    <hr>
                                {% endwith %}
                            </h2>
                            <div class="card-body">
                                <!-- Comment form-->
                                {% if new_commentaire %}
                                    <h3>Votre commentaire à bien été ajouter</h3>
                                {% else %}
                                    <h3>Ajouter un nouveau commentaire</h3>
                                    <form action="" method="POST" class="mb-5">
                                        {% csrf_token %}
                                        {{ comment_form.as_p }}
                                        <button type="submit" class="btn btn-primary mb-4">Ajouter mon commentaire</button>
                                        <hr>
                                    </form>
                                {% endif %}

                                <!-- Single comment-->
                                {% for comment in comments %}
                                <div class="d-flex mb-4">
                                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                    <div class="ms-3">
                                        <div class="fw-bold">
                                            #{{ forloop.counter }} {{ comment.auteur.username }} -
                                            <span class="text-muted">
                                                publier le : {{ comment.created_at|date }} à {{ comment.created_at|time }}
                                            </span>
                                        </div>
                                        {{ comment.contenu }}
                                    </div>
                                </div>
                                {% empty %}
                                    <p>Il n'y a aucun commentaire pour cet article.</p>
                                {% endfor %}
                            </div>
                        </div>
                    </section>
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Search widget-->
                    <div class="card mb-4">
                        <div class="card-header">Search</div>
                        <div class="card-body">
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                                <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                            </div>
                        </div>
                    </div>
                    <!-- Categories widget-->
                    <div class="card mb-4">
                        <div class="card-header">Catégories</div>
                        <div class="card-body">
                            <div class="row">
                                {% for categorie in categories %}
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="{% url 'categorie_article_list' categorie.slug %}">{{ categorie.nom }}</a></li>
                                    </ul>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!-- Side widget-->
                    <div class="card mb-4">
                        <div class="card-header">Side Widget</div>
                        <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}

{% include 'blog/partials/detail_article_bas.html' %}