{% include 'blog/partials/list_article_haut.html' %}
{% include 'blog/partials/navbar.html' %}

    {% block content %}

        <!-- Page header with logo and tagline-->
        <header class="py-5 border-bottom mb-4" style="background-color:rgb(50 59 67) !important;">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" align="center">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <div class="container">
                <div class="text-center my-5" style="color:rgb(218 228 237) !important;">
                    <h1 class="fw-bolder">Bienvenue sur le Blog</h1>
                    <p class="lead mb-5">Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p>
                    <a href="{% url 'blog:list_article' %}" class="btn btn-outline-light btn-lg">Voir tous les articles</a>
                </div>
            </div>
        </header>

    {% endblock %}
{% include 'blog/partials/list_article_bas.html' %}